<!DOCTYPE html>

<html lang="es">

<head>
    <title>Messages</title>
</head>

<body>

<button id="add" onclick="buttonAdd()" style="padding-right: 5px">Add</button>
<button id="update" onclick="buttonUpdate()" style="padding-right: 5px;padding-left: 5px">Update</button>
<button id="reset" onclick="buttonReset()" style="padding-left: 5px">Reset</button>

<div id="place_for_messages"></div>

<div id="place_for_agents">
    <button id="connect">Connect</button>&nbsp;|&nbsp;Status:
    <span id="status">disconnected</span>
    <div id="place_agents">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script id="button_actions">
function buttonAdd(){
    $.ajax({
        url: "/messages",
        type: "post",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({"msg": "ANDA"}),
    });
}

function buttonUpdate(){
    $.ajax({
        url: "/messages",
        type: "get",
        success: function(response) {
            $("#place_for_messages").html(response);
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });
}

function buttonReset(){

    $.ajax({
      url: "/reset",
      type: "get",
      data: {},
      success: function(response) {
        $("#place_for_messages").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
}
</script>
<script language="javascript" type="text/javascript">
$(
    function() {
        var conn = null;
        var name = "UNKNOWN";

        function connect() {
            disconnect();
            var wsUri = (window.location.protocol == 'https:' && 'wss://' || 'ws://') + window.location.host + '/ws';
            conn = new WebSocket(wsUri);
            conn.onopen = function () {
                console.log('Connected.');
                update_agents_ui([]);
            };
            conn.onmessage = function (e) {
                let data = JSON.parse(e.data);
                switch (data.action) {
                    case  'connect':
                        agents = data.agents;
                        console.log('Connected with ' + agents);
                        update_agents_ui(agents);
                        break;
                    case  'disconnect':
                        agents = data.agents;
                        console.log('Disconnected');
                        update_agents_ui([]);
                        break;
                    case 'update':
                        agents = data.agents;
                        console.log(agents)
                        console.log('Joined ' + agents);
                        update_agents_ui(agents);
                        break;
                }
            };
            conn.onclose = function () {
                console.log('Disconnected.');
                conn = null;
                update_agents_ui([]);
            };
        }

        function disconnect() {
            if (conn != null) {
                conn.close();
                conn = null;
                update_agents_ui([]);
            }
        }

        function update_agents_ui(agents) {
            if (conn == null) {
                $('#status').text('disconnected');
                $('#connect').html('Connect');
            } else {
                $('#status').text('connected (' + conn.protocol + ')');
                $('#connect').html('Disconnect');
                place_agents_html = ''
                for (let i = 0; i < agents.length; i++) {
                    place_agents_html += '<text>'+agents[i]+'</text><br/>'
                }
                $('#place_agents').html(place_agents_html)
            }
        }

        $('#connect').on('click', function () {
            if (conn == null) {
                connect();
            } else {
                disconnect();
            }
            update_agents_ui([]);
            return false;
        });
    }
);
</script>

</body>

</html>