<!DOCTYPE html>

<html lang="es">

<head>
    <title>Messages</title>
</head>

<body onload="connect()">
<div style="display: flex">

    <div style="flex: 50%">
        <h4>Messages</h4>
        <button id="add" onclick="buttonAdd()" style="padding-right: 5px">Add</button>
        <button id="reset" onclick="buttonReset()" style="padding-left: 5px">Reset</button><br/>
        <div id="place_for_messages"></div>

    </div>
    <div  style="flex: 50%">
        <h4>Agents</h4>
        <div style="display: flex">
            <div>
                <label for="name">Agent Name</label><br>
                <label for="code_executor">Code Executor</label><br>
                <label for="args">Args</label><br>
            </div>
            <div style="flex: 20%">
                <input type="text" id="name"/><br>
                <input type="text" id="code_executor"/><br>
                <input type="text" id="args"/><br>
            </div>
        </div>
        <button id="run" onclick="buttonRun()" style="padding-right: 5px">Run</button><br/>
        <div id="place_agents"></div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script id="button_actions">
    function buttonAdd(){
        $.ajax({
            url: "/messages",
            type: "post",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({"msg": "web", "color": "blue"}),
        });
    }

    function updateMessages(){
        $.ajax({
            url: "/messages",
            type: "get",
            success: function(response) {
                $("#place_for_messages").html(response);
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    }

    function buttonReset(){

        $.ajax({
            url: "/reset",
            type: "post",
            data: {},
            success: function(response) {
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    }

    function buttonRun(){
        $.ajax({
            url: "/run",
            type: "post",
            data: JSON.stringify({
                name: $("#name").val(),
                code_executor: $("#code_executor").val(),
                args: $("#args").val()
            }),
            dataType: "json",
            contentType: "application/json",
            success: function(response) {
                console.log(response)
            },
            error: function(xhr) {
                console.log("Can't run")
                console.log(xhr)
            }
        });
    }
</script>
<script language="javascript" type="text/javascript">
    let conn = null;
    $(
        function connect() {
            disconnect();
            var wsUri = (window.location.protocol == 'https:' && 'wss://' || 'ws://') + window.location.host + '/ws';
            conn = new WebSocket(wsUri);
            conn.onopen = function () {
                console.log('Connected.');
                update_agents_ui([]);
            };
            conn.onmessage = function (e) {
                let data = JSON.parse(e.data);
                switch (data.action) {
                    case  'connect':
                        agents = data.agents;
                        console.log('Connected with ' + agents);
                        update_agents_ui(agents);
                        break;
                    case  'disconnect':
                        agents = data.agents;
                        console.log('Disconnected');
                        update_agents_ui([]);
                        break;
                    case 'update':
                        agents = data.agents;
                        console.log(agents)
                        console.log('Joined ' + agents);
                        update_agents_ui(agents);
                        break;
                    case 'update_msg':
                        updateMessages();
                        break;
                }
            };
            conn.onclose = function () {
                console.log('Disconnected.');
                conn = null;
                update_agents_ui([]);
            };


            function disconnect() {
                if (conn != null) {
                    conn.close();
                    conn = null;
                    update_agents_ui([]);
                }
            }

            function update_agents_ui(agents) {
                if (conn == null) {
                    console.log("Disconnected")
                } else {
                    $.ajax({
                        url: "/agents",
                        type: "get",
                        success: function(response) {
                            $("#place_agents").html(response);
                        },
                        error: function(xhr) {
                            //Do Something to handle error
                        }
                    });
                }
            }
        }
    );
</script>

</body>

</html>